.what-new_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.what-new_left {
  grid-column: auto/span 8;
  grid-row: auto/span 3;
}

.what-new_right {
  grid-column: auto/span 4;
}

.what-new_subcriber {
  padding: 30px;
  background-color: #f9c345;
  color: black;
  font-size: 2rem;
  border-radius: 22px;
}

.what-new_subcriber-title {
  font-weight: 700;
  font-size: 2.5rem;
}

.what-new_subcriber button {
  margin-top: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin: 20px auto 0;
  padding: 6px 6px 6px 26px;
  cursor: pointer;
  border-radius: 100px;
  background-color: white;
}

.input-container input {
  border: none;
  background-color: transparent;
  height: 100%;
  outline: none;
  font-size: 1rem;
  padding: 12px 0;
}

.what-new_post-item {
  grid-column: auto/span 4;
}

@media screen and (max-width: 767px) {
  .what-new_left {
    grid-column: auto/span 12;
  }

  .what-new_right {
    grid-column: auto/span 12;
  }

  .what-new_subcriber {
    display: none;
  }

  .what-new_post-item {
    grid-column: auto/span 12;
  }

  .what-new_grid {
    display: block;
  }

  .what-new_right {
    margin-top: 30px;
  }
  
  .what-new_post-item {
    margin-bottom: 20px;
  }
}