.popular-tags_list {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: repeat(7,1fr);
}

@media screen and (max-width: 1280px) {
  .popular-tag_item:nth-child(7) {
    display: none;
  }

  .popular-tags_list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .popular-tag_item:nth-child(5),
  .popular-tag_item:nth-child(6) {
    display: none;
  }

  .popular-tags_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .popular-tag_item:nth-child(4) {
    display: none;
  }

  .popular-tags_list {
    grid-template-columns: repeat(3, 1fr);
  }
}