
.post-card_tag {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 6px 12px;
  border-radius: 100px;
  transition: all .2s ease;
  background-color: #f1f1f3;
  text-decoration: none;
  color: black;
}

.post-card_tag:hover {
  background-color: #e8e8ec;
}